<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/style.css">
    <title>売上分析</title>
</head>
<body>

<div class="app-layout">

<main class="main-content">

<header class="page-header">
    <div>
        <p class="page-label">Analytics</p>
        <h2>売上分析</h2>
    </div>
</header>

<div class="analytics-grid">

    <div class="analytics-card">
    <span>総注文件数</span>
    <strong th:text="${totalOrders} + '件'">0件</strong>
</div>

<div class="analytics-card">
    <span>総売上</span>
    <strong th:text="${totalSales} + '円'">0円</strong>
</div>

<div class="analytics-card">
    <span>総販売本数</span>
    <strong th:text="${totalQuantity} + '本'">0本</strong>
</div>

</div>

<h3 class="analytics-title">人気品種ランキング TOP5</h3>

<table class="analytics-table">
   <tr>
    <th>品種</th>
    <th>販売本数</th>
</tr>

<tr th:each="item : ${ranking}">
    <td class="left-cell" th:text="${item.key}"></td>
    <td class="number-cell" th:text="${item.value} + '本'"></td>
</tr>
</table>

<h3 class="analytics-title">注文履歴</h3>

<table class="analytics-table">
    <tr>
        <th>日時</th>
        <th>品種</th>
        <th>本数</th>
        <th>金額</th>
    </tr>

    <tr th:each="history : ${histories}">
    <td class="left-cell"
        th:text="${history.variety}"></td>

    <td class="number-cell"
        th:text="${history.quantity}"></td>

    <td class="number-cell"
        th:text="${history.subtotal} + '円'"></td>
</tr>
</table>

</main>
</div>

</body>
</html>